<section class="tab equipo {{tab.cssClass}}" data-group="primary" data-tab="equipo" id="equipo-panel" role="tabpanel">
  <div class="tab-content">
    <h3>Equipo</h3>
    <p>Sistema de equipo próximamente...</p>
  </div>
</section>
