<div style="display:grid; gap:2px; width:250px; grid-template-columns: auto repeat(4, 1fr);">
  <div style="grid-column:1;"></div>
  <div class="tamMini">Clase</div>
  <div class="tamMini">Carac.</div>
  <div class="tamMini" style=" margin-left: 5px;">Misc.</div>
  <div class="tamMini">Total</div>
      {{#each salvaciones as |item id|}}
        {{> "systems/babylon_5_ogl/html/PJ/salvacion_fila.hbs" item}}
      {{/each}}
</div>